$color-secundary: #EDD7E7;
$color-shadow: #FFF;
$color-shadow-primary:
0 0 5px  #f078c8,
0 0 10px #FF00FF,
0 0 20px #FF00FF,
0 0 40px #b33e8c,
0 0 80px #b33e8c,
0 0 90px #b33e8c,
0 0 100px#FF00FF,
0 0 140px #b33e8c, 
0 0 180px #FF00FF;
$color-var:  #EDD7E7;

$shadow-line-color:  0 0 10px #00FFF3, 0 0 20px #00FFF3, 0 0 40px #00FFF3;
$shadow-line-color-recuadro:  0 0 5px #00FFF3, 0 0 10px #00FFF3, 0 0 20px #00FFF3;
$contenedor-shadow: 0 0 5px #FF00FF, 0 0 10px  #FF00FF, 0 0 20px  #FF00FF;
$color-line-c:#00FFF3;

$bg-banner: white;
$border-line-final: #FF00FF;

$line-banner-final:0 0 10px #FF00FF, 0 0 20px  #FF00FF, 0 0 40px  #FF00FF;

$btn-Color: black;

$colormenu-compras: #f078c8;
$colormenu-hover:  #FF00FF;