
/*Position*/
$Pos-absolute: absolute;
$fix: fixed;
$px-top:  73px;

$Radius-circulo: 50%;

$effect-filter: blur(5px); 

/*Align*/
$aligncenter: center;


/**banner final**/

$flex: flex;
$f-row: row;